<div class="panel panel-default">
	<div class="panel-heading">
		<%= @skill.title %>		
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12 col-md-2">
				<p>
    			<%= image_tag(@skill.image, width: "96") %>
    			</p>
    		</div>
    		<div class="col-xs-12 col-md-8"><p><%= @skill.description %></p></div>
    		<div class="col-xs-12 col-md-2">
    			<p>
    			<%= link_to 'Edit', edit_skill_path(@skill), :class => "btn btn-default btn-sm", :role => "button" %>
    			<%= link_to 'Remove', skill_path(@skill), :class => "btn btn-danger btn-sm", :role => "button", method: :delete, data: { confirm: 'Are you sure?' } %>
    			</p>
    		</div>
		</div>
	</div>
</div>
<%= link_to 'Back', skills_path, :class => "btn btn-default btn-sm", :role => "button" %>