<div class="panel panel-default">
	<div class="panel-heading">
		<%= @degree.title %>		
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12 col-md-2">
				<p>
    				<%= image_tag(@degree.image, width: "96") %>
    			</p>
    		</div>
    		<div class="col-xs-12 col-md-8">
    			<p><%= @degree.major %><br>
    			<%= @degree.school %><br>
    			<%= @degree.year %> - <%= @degree.honors %></p>
    		</div>
    		<div class="col-xs-12 col-md-2">
    			<p>
    			<%= link_to 'Edit', edit_degree_path(@degree), :class => "btn btn-default btn-sm", :role => "button" %>
    			<%= link_to 'Remove', degree_path(@degree), :class => "btn btn-danger btn-sm", :role => "button", method: :delete, data: { confirm: 'Are you sure?' } %>
    			</p>
    		</div>
		</div>
	</div>
</div>
<%= link_to 'Back', degrees_path, :class => "btn btn-default btn-sm", :role => "button" %>